In [1]:
import json
import requests
import random
import pandas as pd

In [3]:
# import of data containing the id of the film by which we will draw films
title_akas = data=pd.read_csv('https://datasets.imdbws.com/title.akas.tsv.gz',sep='\t',
                              usecols = ['titleId', 'isOriginalTitle'])
title_akas

C:\Users\User\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

            titleId isOriginalTitle
0         tt0000001               0
1         tt0000001               0
2         tt0000001               0
3         tt0000001               0
4         tt0000001               0
...             ...             ...
34045513  tt9916852               0
34045514  tt9916852               0
34045515  tt9916852               0
34045516  tt9916856               0
34045517  tt9916856               1

[34045518 rows x 2 columns]

In [5]:
# select only unique titles
title_akas_sorted = title_akas[title_akas['isOriginalTitle'] == '1']
title_akas_sorted

            titleId isOriginalTitle
65537     tt0017151               1
65539     tt0017152               1
65540     tt0017153               1
65545     tt0017154               1
65550     tt0017155               1
...             ...             ...
29490503  tt7269636               1
29490504  tt7269638               1
29490514  tt7269642               1
29490676  tt7269700               1
29491156  tt7269928               1

[1301185 rows x 2 columns]

In [7]:
# transfer id to the list
Id_list = title_akas_sorted['titleId'].values.tolist()
Id_list[:10]

['tt0017151',
 'tt0017152',
 'tt0017153',
 'tt0017154',
 'tt0017155',
 'tt0017156',
 'tt0017157',
 'tt0017158',
 'tt0017159',
 'tt0017160']

In [8]:
random.seed(10)

In [16]:
films = pd.DataFrame()

In [17]:
# draw sample from Id_list
for i in random.sample(Id_list,400):
    url1 = f'http://www.omdbapi.com/?i={i}&apikey=d444d780'    
    result = requests.get(url1).json()
    df = pd.DataFrame.from_dict(result, orient = 'index').T
    if df['Response'][0] == 'True' :
        films = films.append(df)
    else:
        pass

In [18]:
films

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,Type,totalSeasons,Response,DVD,BoxOffice,Production,Website,Season,Episode,seriesID
0,Peninta-peninta,2005–2011,N/A,30 Sep 2005,N/A,Comedy,N/A,N/A,"Petros Filippidis, Pavlos Haikalis, Sakis Boulas",The funny adventures of three middle aged coup...,...,series,3,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Garter Charter Tours,1986,N/A,N/A,86 min,Adult,Drea,N/A,"Dino Alexander, Jesse Eastern, Ron Jeremy, Nik...",N/A,...,movie,NaN,True,N/A,N/A,N/A,N/A,NaN,NaN,NaN
0,"Hearst-International News Pictorial, No. 83",1916,N/A,17 Oct 1916,N/A,"Short, News",N/A,N/A,N/A,N/A,...,movie,NaN,True,N/A,N/A,N/A,N/A,NaN,NaN,NaN
0,The Harsh Weather Sweepstakes,2014,N/A,N/A,23 min,"Short, Drama",Jay Drose,Jay Drose,"Michael Chandler, Jessica Gardner, Mike Michau...","A middle-aged, successful infomercial host bec...",...,movie,NaN,True,N/A,N/A,N/A,N/A,NaN,NaN,NaN
0,Dwarf Lord,2008,Not Rated,05 Oct 2009,5 min,"Short, Comedy",Ned Thorne,Ned Thorne,"Matt Stapleton, Maya Rosewood, Janelle Lannan",Office n00b Stuart didn't finish the AGGC Init...,...,movie,NaN,True,N/A,N/A,N/A,N/A,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,Vendetta of Felipe Espinosa Book Trailer,2014,N/A,01 Nov 2014,N/A,"Short, History",Catharine Pilafas,Catharine Pilafas,"Michael Guajardo, Adam James Jones",The year was 1863. As the Civil War raged and ...,...,movie,NaN,True,N/A,N/A,N/A,N/A,NaN,NaN,NaN
0,The Lion's Mate,1915,N/A,08 May 1915,N/A,"Short, Drama",Tom Santschi,Emma Bell Clifton (story),"William Stowell, Marion Warner, Lafe McKee, To...",N/A,...,movie,NaN,True,N/A,N/A,N/A,N/A,NaN,NaN,NaN
0,The Back Page,2001,N/A,N/A,N/A,Comedy,Gary Halvorson,N/A,"Jessica Capshaw, Derek Cecil, Richard Masur",N/A,...,movie,NaN,True,N/A,N/A,N/A,N/A,NaN,NaN,NaN
0,The Blue Beetle: Ted Kord Returns!,2012–,N/A,24 Jun 2012,N/A,Comedy,N/A,N/A,"Donald McKinney, Christopher D. Turner, Kevin ...","Ted Kord, AKA The Blue Beetle, Returns, only t...",...,series,3,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Corto y Cambio,2013–,N/A,28 Nov 2013,N/A,Comedy,N/A,"Andrea Bini, Natxo López, David Navarro Gomez","Paco Calavera, Maru Candel, Juan Dávila, Sara ...",N/A,...,series,1,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN